@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

h1{
    color: palevioletred;
    font-weight: bold;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: beige;
}

button {
  border: 1px solid rgb(214, 93, 134);
  border-radius: 5px;
  background-color: palevioletred;
  color: white;
  text-align: center;
  padding: 5px;
}

input[type="text"] {
  padding: 5px;
  border: 1px solid black;
}

#tasks {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: paleturquoise ;
}

:checked + label {
  text-decoration: line-through;
  color: grey;
}